{

    "Nodatafound": "Não há dados anteriores encontrados.",
    "Retrievingdata": "Recuperação de dados previamente armazenado.",
    "Datarestored": "dados armazenados anteriormente recuperados com sucesso.",
    "Greyuser": "Só seguranças e até pode executar um bot.",
    "Leão de chácara": ". O bot não pode mover as pessoas quando ele é executado como um leão de chácara",
    "Online": "me %% botname %% %% VERSÃO v / %% online!",


    "Welcome": "/ me Bem-vindo %% NAME %%",
    "Welcomeback": "/ me Bem-vindo de volta, %% NAME %%",
    "Songknown": "/ me: repetir: Essa música foi jogado %% JOGA %% tempo (s) no último TIMETOTAL %% %%, última peça foi %% lasttime %% atrás:. Repetir:",
    "Timelimit": "me @ %% NAME / %%, a sua música é mais do que %% maxLength %% minutos, você precisa de permissão para reproduzir as músicas mais longas.",
    "Permissionownsong": "/ me: até: @ %% NAME %% tem permissão para jogar sua própria produção",
    "Isblacklisted": "/ me Essa faixa está na LISTA NEGRA %% %% blacklist Skipping ...",


    "Isopen": "! / Me A roleta está agora aberto usem !join para participar!",
    "Winnerpicked": "/ me Um vencedor foi escolhido @ %% NAME %% para posicionar %% %% POSIÇÃO!".,


    "Alreadyadding": "/ me usuário já está sendo adicionado Mudou a posição desejada para %% POSIÇÃO %%.",
    "Acrescentando": "/ me nome da fila atual Adicionado @ %% %% para a fila.:. %% POSIÇÃO %%",


    "Usernotfound": "/ me Usuário não encontrado.",
    "Notdisconnected": "/ me @ %% NAME %% não desligue durante o meu tempo aqui.",
    "Noposition": "/ me Sem última posição conhecida do waitlist precisa atualizar pelo menos uma vez para registrar última posição de um usuário.".,
    "Toolongago": "/ me @ %% NAME %% 's última disconnect (DC ou sair) foi há muito tempo: %% TEMPO %%.",
    "Válido": ". Me @ %% NAME / %% desconectado %% %% TEMPO atrás e deve estar na posição %% POSIÇÃO %%",


    "Warning1": "/ me @ %% NAME %%, você foi afk for %% TEMPO %%, responda dentro de 2 minutos, ou você vai ser removido.",
    "Warning2": "/ me @ %% NAME %%, você será removido devido a AFK em breve, se você não responder.",
    "Afkremove":. "/ Me @ %% NAME %%, você foi removido por ser afk for %% TEMPO %% Você estava na posição %% POSIÇÃO %% Bate-papo pelo menos uma vez a cada %% MAXIMUMAFK %% minutos se. Você quer tocar uma música. ",


    "caps": "me @ %% NAME %% /, tire o botão capslock por favor.",
    "Askskip": ". / Me @ %% NAME %%, não pergunte por saltos",
    "Spam": "/ me @ %% NAME %%, por favor, não faça spam.",
    "Roomadvertising": "/ me @ %% NAME %%, não postar links de outras comunidades, por favor.",
    "Adfly": ". / Me @ %% NAME %%, por favor, mude o seu programa autowoot Sugerimos PlugCubed: http://plugcubed.net/",


    "Invalidtime": ". / Me [@ %% NAME %%] tempo especificado inválido",
    "Nouserspecified": ". / Me [@ %% NAME %%] Nenhum usuário especificado",
    "Invaliduserspecified": ". / Me [@ %% NAME %%] usuário inválido especificado",
    "Nolistspecified": ". / Me [@ %% NAME %%] Nenhuma lista especificada",
    "Invalidlistspecified": ". / Me [@ %% NAME %%] lista inválido especificado",
    "Novaliduserspecified": ". / Me [@ %% NAME %%] Nenhum usuário válido especificado",
    "Nolimitspecified": ". / Me [@ %% NAME %%] No limite especificado",
    "Invalidlimitspecified": "/ me [@ %% NAME %%] limite inválido.",
    "Invalidpositionspecified": ". / Me [@ %% NAME %%] posição inválido especificado",
    "Toggleon": "/ me [@ %% NAME %%] %% FUNÇÃO %% habilitado.",
    "Toggleoff": ". / Me [@ %% NAME %%] %% FUNÇÃO %% com deficiência",
    "Afkremoval": "remoção AFK",
    "Afksremoved": "removida do AFK",
    "Afklimit": "limite AFK",
    "AUTOSKIP": "AUTOSKIP",
    "Newblacklisted": "/ me [@ %% NAME %%] Esta faixa pertence na LISTA NEGRA %% %% blacklist [Autor %% %% - %% %% TÍTULO - %% MID %%]",
    "Blinfo": "[@ %% NAME %%] Blacklist Info - autor: %% %% AUTOR, título: %% TÍTULO %%, mid: %% MotoID %%",
    "Lista negra": "lista negra",
    "Cycleguard": "cycleguard",
    "TIMEGUARD": "TIMEGUARD",
    "Chatfilter": "chatfilter",
    "Lockdown": "lockdown",
    "LockGuard": "LockGuard",
    usercommands "": "", usercommands
    "Motd": "motd",
    "Welcomemsg": "mensagem de boas-vindas",
    "songstats": "As estatísticas de músicas",
    "Etarestriction": "restrição eta",
    "Voteskip": "voteskip",
    "Voteskiplimit": "/ me [@ %% NAME %%] Voteskip limite está definido para %% LIMIT %% mehs.",
    "Voteskipexceededlimit": ". Me @ %% NAME / %%, a sua música excedeu o limite voteskip (%% mehs LIMIT %%)",
    "Voteskipinvalidlimit": ". / Me [@ %% NAME %%] limite voteskip inválido, por favor tente novamente usando um número para indicar o número de mehs",
    "Voteskipsetlimit": ". / Me [@ %% NAME %%] Voteskip limite definido para %% LIMIT %%",
    "Activeusersintime": ". / Me [@ %% NAME %% Houve %% VALOR %% usuários que conversam no passado %% TEMPO %% minutos",
    "Maximumafktimeset": ". / Me [@ %% NAME %%] duração afk máximo definido para TEMPO %% %% minutos",
    "Afkstatusreset": ". / Me [@ %% NAME %%] Resetar o status de afk @ %% username %%",
    "Utilizadas durante": ". / Me [@ %% NAME %%] @ %% username %% ficou inativo por %% TEMPO %%",
    "Autowoot": "/ me Recomendamos PlugCubed para autowooting: http://plugcubed.net/",
    "Brandambassador":. "/ Me um embaixador da marca é a voz dos usuários plug.dj Eles promovem eventos, envolver a comunidade e compartilhar a mensagem plug.dj ao redor do mundo para mais informações:. Http: //blog.plug. dj / Brand-embaixadores / ",
    "Bouncerplusrank": "/ me [@ %% NAME %%] Você tem que ser gerente ou até permitir Bouncer +.",
    "Chatcleared": ". / Me [@ %% NAME %%] Cancelado o bate-papo",
    "Deletechat": ". / Me [@ %% NAME %%] Cancelado o bate-papo de %% username %%",
    "Commandslink": "/ me %% botname %% comandos: %% LIGAÇÃO %%",
    "Eatcookie": "/ me come um cookie.",
    "Nousercookie": "/ em não ver %% NAME %% no quarto e come-se um cookie.",
    "Selfcookie": "?. / Me @ %% NAME %%, você está um pouco ganancioso, não é você que dá cookies para si mesmo, bah Compartilhe alguns com outras pessoas!",
    "Cookie": "/ me @ %% NAMETO %%, @ %% NAMEFROM %% %% BOLINHO %%",
    "Cycleguardtime": "/ me [@ %% NAME %%] O cycleguard está definido para TEMPO %% %% minuto (s).",
    "Dclookuprank": ". / Me [@ %% NAME %%] Apenas seguranças e acima pode fazer uma pesquisa para os outros",
    "Emojilist": "me list / Emoji: %% LIGAÇÃO %%",
    "Notinwaitlist": "/ me @ %% NAME %%, você não está na lista de espera.",
    "Eta": ". / Me @ %% NAME %% você vai chegar à cabine em aproximadamente %% TEMPO %%",
    "Facebook": "/ me Curta-nos no facebook: %% LIGAÇÃO %%",
    "Starterhelp": "/ me Esta imagem irá ajudar a começar no plugue: %% LIGAÇÃO %%",
    "Roulettejoin": "me @ %% NAME / %% juntou a roleta! (Deixe se você se arrepender!).",
    "Jointime": ". / Me [@ %% NAMEFROM %%] @ %% username %% foi no quarto para %% TEMPO %%",
    "Kickrank": "/ me [@ %% NAME %%] você não pode chutar usuários com uma classificação igual ou maior do que você",
    "Kick": ". / Me [@ %% NAME %%], @ %% username %% você está sendo expulso da comunidade por %% TEMPO %% minutos",
    "Matar": "/ me desligar.",
    "Rouletteleave": "me @ %% NAME / %% deixou a roleta!",
    "Songlink": "/ me [@ %% NAME %%] Link para a música atual: %% LIGAÇÃO %%",
    "Usedlockskip": "/ me [. %% NAME %% usado lockskip]",
    "lockskippos": ". / me [@ %% NAME %%] Lockskip vai agora passar o dj para posicionar %% POSIÇÃO %%",
    "Lockguardtime": "/ me [@ %% NAME %%] O LockGuard está definido para TEMPO %% %% minuto (s).",
    "Maxlengthtime": "/ me [@ %% NAME %%] A duração máxima canção está definido para TEMPO %% %% minutos.",
    "Motdset": "/ me motd definido como: %% MSG %%",
    "Motdintervalset": "/ me intervalo motd definido para %% INTERVALO %%.",
    "Addbotwaitlist": ". / Me @ %% NAME %%, não tente me adicionar à lista de espera, por favor",
    "Move": "me [%% NAME %% movimento utilizado.] /",
    "Mutednotime": "/ me [@ %% NAME %%] silenciado @ %% username %%.",
    "Mutedmaxtime": ". / Me [@ %% NAME %%] Você só pode mute para o máximo de %% TEMPO %% minutos",
    "Mutedtime": ". / Me [@ %% NAME %%] silenciado @ %% username %% para %% TEMPO %% minutos",
    "Mudos": ". / Me [@ %% NAME %%] mudos @ %% username %%",
    "Muterank": ". / Me [@ %% NAME %%] Pode pessoas não muda com uma classificação igual ou maior do que você",
    "Oplist": "me list / OP: %% LIGAÇÃO %%",
    "Pong": "/ me Pong!",
    "Reload": "/ me volto.",
    "Removenotinwl": ". / Me [@ %% NAME %%] especificado usuário @ %% username %% não está na lista de espera",
    "roomrules": "/ me por favor encontrar as regras de quarto aqui: %% LIGAÇÃO %%",
    "sessionstats": "/ me [@ %% NAME %%] Total woots: %% WOOTS %%, o total de mehs: %% MEHS %%, o total de garras: agarra. %% %%",
    "Pular": "/ me [. %% NAME %% Ir utilizado]",
    "Madeby": "/ me Este bot foi feita por %% NAME %%.",
    "Activefor": "Eu tenho sido ativo para %% TEMPO %%.",
    "Swapinvalid": ". / Me [@ %% NAME %%] usuário inválido especificado (Sem nomes com espaços!)",
    "Swapwlonly": "/ me [@ %% NAME %%] Por favor, só trocar os usuários que estão na lista de espera!",
    "Swap": "/ me Trocando %% NAME1 %% com %% NAME2 %%.",
    "gêneros": "/ me Por favor, encontrar os gêneros quarto admissíveis aqui: %% LIGAÇÃO %%",
    "Notbanned": "/ me [@ %% NAME %%] O usuário não foi banido.",
    "Unmutedeveryone": ". / Me [@ %% NAME %%] todos mudos",
    "Unmuteeveryonerank": ". / Me [@ %% NAME %%] Apenas os gestores e até pode não silenciar todos de uma vez",
    "Notmuted": ". / Me [@ %% NAME %%] que o usuário não foi silenciado",
    "Unmuterank": ". / Me [@ %% NAME %%] Você não pode liberar o som pessoas com uma classificação igual ou maior do que você",
    "Commandscd": "/ me [@ %% NAME %%] O cooldown para os comandos dos usuários já está definido para TEMPO %% %% segundos.",
    "Voteratio": "/ me [@ %% NAME %%] @ %% USERNAME %% ~ woots: %% WOOT %%, mehs: MEHS %% %%, proporção (W / m): %% RATIO %% ".,
    "Site": "/ me por favor visite nosso website: %% LIGAÇÃO %%",
    "Youtube": "/ me [%% NAME %%] Inscreva-se-nos no youtube: %% LIGAÇÃO %%",
    "songstatistics": "me %% artista / %% - %% TÍTULO %%: %% WOOTS %% W / %% AGARRA %% G / %% MEHS %% M".
}
